#container {
    display: grid;
    justify-content: center;
    margin:auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 450px;
    height: 450px;
}

.cell {
    display: flex;
    border: 0.5px solid black;
    margin: 0px;
    gap: 0px;
    padding: 3px;
}

:root {
    --numCols: 1;
    --numRows: 1;
}